@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


/* * {
    padding: 0;
    margin: 0;
} */
body {
    background-color: hsl(257, 40%, 49%);
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;
    color: white;
}
header img {
    width: 150px;
    padding: 30px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
main img {
    width: 300px;
    margin: auto;
    padding-top: 17px;
}
.desc {
    text-align: center;
}
.desc h3 {
    width: 300px;
    font-size: 26px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
}
.desc p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    margin: auto;
    padding: 15px 0 30px;
}
button {
    color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border: none;
    border-radius: 28px;
    padding: 11px 75px;
    margin: auto;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 0;
}
footer a:nth-child(3) svg{
    width: 20px;
    height: 20px;
}
footer a:nth-child(2) svg{
    width: 20px;
    height: 20px;
}
footer a:nth-child(1) svg{
    width: 20px;
    height: 20px;
}
footer a {
    cursor: pointer;
    padding: 8px;
}
footer a:nth-child(3) svg{
    border-radius: 50%;
    border: 1px solid white;
    align-items: center;
    padding: 8px;
}
footer a:nth-child(2) svg{
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    align-items: center;
}
footer a:nth-child(1) svg{
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    align-items: center;
}
button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}
footer a svg:hover {
    border-color: hsl(300, 69%, 71%);
}
footer a svg:hover > g {
    fill: hsl(300, 69%, 71%);
}

@media screen and (min-width:1440px) {
    body {
        background-image: url('./images/bg-desktop.svg');
    }
    header img {
        width: 200px;
        padding: 50px 0 80px 70px;
    }
    main img {
        width: 700px;
        margin: 0;
        padding: 0 30px 0 20px;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .desc {
        text-align: left;
        padding-right: 40px;
    }
    .desc h3 {
        font-size: 32px;
        width: 400px;
        margin: 0;
    }
    .desc p {
        width: 460px;
    }
    button {
        padding: 13px 55px;
    }
    footer {
        justify-content: right;
        margin-right: 70px;
        margin-top: -30px;
    }
}